/* main, section, article, #top-section, #second-section,
#third-section, #last-section, .top-article,.bottom-article */
/* html {
  font-size: 30px;
} */
* {
  margin: 0;
  box-sizing: border-box;
}
/* main {
  background-color: red;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
section {
  background-color: yellow;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 10px;
}
.top-article {
  width: 3rem;
}
input {
  width: 15ch;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
article {
  background-color: green;
  height: 40px;
  width: 2em;
} */
main {
  background-color: hotpink;
  min-width: 100svw;
  min-height: 100svh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section {
  background-color: #88bc95;
  width: 80svw;
  height: 50svh;
}
#top-section img {
  object-fit: cover;
  object-position: 50% 20%;
  width: 100%;
  height: 100%;
}
#second-section {
  width: 70svw;
  height: 50svh;
}
#second-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 10%;
}
/* #top-section {
  width: 70svw;
  height: 30svh;
}
#second-section {
  width: 70vw;
  max-height: 300px;
}
#third-section {
  min-width: 60svw;
  min-height: 40svh;
}
#third-section .top-article {
  width: 50%;
  height: 50%;
  background-color: black;
} */
